/* Your CSS Code here. */
.holder{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

.item1{
	width: 100px;
	height: 100px;
	background-color:green;
	font-size: 50px;
}

.item2{
	width: 100px;
	height: 100px;
	background-color:red;
	font-size: 50px;
}

.item3{
	width: 100px;
	height: 100px;
	background-color:blue;
	font-size: 50px;
}